.titulo-pages{
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    color: #0b1a2c;
}
:host ::ng-deep .p-card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.p-inputgroup {
  max-width: 400px;
}

.acciones-botones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.container-button{
  display: flex;
  margin-bottom: 2%;
}
.boton{
  margin-left: auto;
}
.estado-disponible {
  background-color: #d1f8d7;
  color: #137333;
  font-weight: bold;
  padding: 4px 10px;
  border-radius: 10px;
}

.estado-proximo {
  background-color: #fff4d1;
  color: #b36b00;
  font-weight: bold;
  padding: 4px 10px;
  border-radius: 10px;
}

.estado-agotado {
  background-color: #fddede;
  color: #c92a2a;
  font-weight: bold;
  padding: 4px 10px;
  border-radius: 10px;
}