<div class="table">

  <p-card>
    <p-table [value]="detallesFactura"
             [paginator]="true"
             [rows]="10"
             [responsiveLayout]="'scroll'"
             class="p-datatable-striped p-datatable-gridlines p-datatable-sm"
             styleClass="custom-table">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="producto" style="background-color: #0b1a2c; color: white;">
            🧺 Producto
            <p-sortIcon field="producto"></p-sortIcon>
          </th>
          <th pSortableColumn="marca" style="background-color: #0b1a2c; color: white;">
            🏷 Marca
            <p-sortIcon field="marca"></p-sortIcon>
          </th>
          <th pSortableColumn="medida" style="background-color: #0b1a2c; color: white;">
            📏 Medida
            <p-sortIcon field="medida"></p-sortIcon>
          </th>
          <th pSortableColumn="cantidad" style="background-color: #0b1a2c; color: white;">
            🔢 Cantidad
            <p-sortIcon field="cantidad"></p-sortIcon>
          </th>
          <th pSortableColumn="precio" style="background-color: #0b1a2c; color: white;">
            💰 Precio
            <p-sortIcon field="precio"></p-sortIcon>
          </th>
          <th pSortableColumn="total" style="background-color: #0b1a2c; color: white;">
            📦 Total
            <p-sortIcon field="total"></p-sortIcon>
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-item>
        <tr>
          <td> <strong> {{item.codigo}} - {{ item.producto }} </strong> </td>
          <td>{{ item.marca }}</td>
          <td>{{ item.medida }}</td>
          <td>{{ item.cantidad }}</td>
          <td>{{ item.precio | currency:'COP':'symbol':'1.0-0' }}</td>
          <td>{{ item.total | currency:'COP':'symbol':'1.0-0' }}</td>
        </tr>
      </ng-template>

    </p-table>
  </p-card>
</div>
