/* Agrega sombras, bordes y estilos modernos */
::ng-deep .custom-table .p-datatable {
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

::ng-deep .custom-table .p-datatable-thead > tr > th {
  background-color: #f0f4f8;
  color: #333;
  font-weight: bold;
}

::ng-deep .custom-table .p-datatable-tbody > tr:hover {
  background-color: #eef2f7;
  cursor: pointer;
}

.text-green-700 {
  color: #059669;
}

.text-red-600 {
  color: #dc2626;
}
.titulo-pages{
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    color: #0b1a2c;
}
::ng-deep .custom-eye-button {
  background-color: #0b1a2c !important;
  color: #fff !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  border: 1px solid #dcdcdc;
}

::ng-deep .custom-eye-button:hover {
  background-color: #e0e0e0 !important;
  color: #000 !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
