<div class="table">
    <div class="content">
        <p-card header="Registro de Compra" styleClass="p-mb-4">
            <form [formGroup]="compraForm">
                <div class="p-fluid p-grid">
                    <div class="p-field p-col-12 p-md-6">
                        <label for="proveedor">* Proveedor</label>
                        <p-dropdown id="proveedor" [options]="proveedores" optionLabel="nombre"
                            formControlName="proveedor" placeholder="Selecciona un proveedor" [showClear]="true">
                        </p-dropdown>
                    </div>
                    <div class="p-field p-col-12 p-md-6">
                        <label for="quienSolicita">* Quien solicita</label>
                        <input id="quienSolicita" pInputText formControlName="quienSolicita" />
                    </div>
                    <div class="p-field p-col-12 p-md-6">
                        <label for="quienAutoriza">Quien autoriza</label>
                        <input id="quienAutoriza" pInputText formControlName="quienAutoriza" />
                    </div>
                    <div class="p-field p-col-12 p-md-6">
                        <label for="direccionEntrega">Dirección de entrega</label>
                        <input id="direccionEntrega" pInputText formControlName="direccionEntrega" />
                    </div>
                    <div class="p-field p-col-12">
                        <label for="observaciones">Observaciones</label>
                        <textarea id="observaciones" pInputTextarea formControlName="observaciones"></textarea>
                    </div>
                    <div class="p-field p-col-12 p-md-6">
                        <label for="metodosPago">* Metodos de pago</label>
                        <p-dropdown id="metodoPago" [options]="metodosPago" optionLabel="nombre"
                            formControlName="metodoPago" placeholder="Selecciona un metodo de pago" [showClear]="true">
                        </p-dropdown>
                    </div>
                </div>

                <!-- Tabla de productos -->
                <p-table [value]="productos.controls" [tableStyle]="{ 'min-width': '100%' }" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>#</th>
                            <th>Código</th>
                            <th>Descripción</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>IVA</th>
                            <th>Descuento</th>
                            <th>Total</th>
                            <th>Acción</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-producto let-rowIndex="rowIndex">
                        <tr>
                            <td>{{ rowIndex + 1 }}</td>
                            <td>{{ producto.get('codigo')?.value }}</td>
                            <td>{{ producto.get('descripcion')?.value }}</td>
                            <td>{{ producto.get('cantidad')?.value }}</td>
                            <td>{{ producto.get('precio')?.value | currency:'COP' }}</td>
                            <td>{{ producto.get('iva')?.value }}%</td>
                            <td>{{ producto.get('descuento')?.value }}%</td>
                            <td>{{ producto.get('total')?.value | currency:'COP' }}</td>
                            <td class="p-d-flex p-ai-center p-gap-2">
                                <button pButton icon="pi pi-trash" class="p-button-danger p-button-sm"
                                    (click)="eliminarProducto(rowIndex)" type="button"></button>
                                <button pButton icon="pi pi-print" class="p-button-secondary p-button-sm"
                                    (click)="imprimirCompra()" type="button"></button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <tr>
                            <td colspan="7" class="text-right font-bold">Total General:</td>
                            <td colspan="2" class="font-bold">{{ totalGeneral | currency:'COP' }}</td>
                        </tr>
                    </ng-template>
                </p-table>

                <div class="p-d-flex p-jc-end p-mt-2">
                    <button pButton label="Agregar producto" icon="pi pi-plus" class="p-button-sm p-button-success"
                        (click)="abrirDialogoProducto()" type="button">
                    </button>
                    <button pButton label="Generar compra" icon="pi pi-save"
                        class="p-button-sm p-button-primary button-m" (click)="guardarCompra()" type="button"
                        [disabled]="enviando">
                    </button>

                </div>

            </form>
        </p-card>


        <p-dialog header="Agregar Producto" [(visible)]="productoDialogVisible" [modal]="true" [responsive]="true"
            [style]="{ width: '450px' }">
            <form [formGroup]="productoForm" class="p-fluid">
                <div class="p-field">
                    <label for="codigo">Producto</label>
                    <p-autoComplete id="codigo" [suggestions]="productosFiltrados"
                        (completeMethod)="filtrarProductos($event)" field="nombre" [dropdown]="true"
                        [forceSelection]="true" [minLength]="1" formControlName="codigo"
                        (onSelect)="productoSeleccionado($event.value)">

                        <ng-template let-producto pTemplate="item">
                            {{ producto.codigo }} - {{ producto.nombre }}
                        </ng-template>

                    </p-autoComplete>
                </div>

                <div class="p-field">
                    <label for="descripcion">Descripción</label>
                    <input id="descripcion" type="text" pInputText formControlName="descripcion" />
                </div>
                <div class="p-field">
                    <label for="cantidad">Cantidad</label>
                    <input id="cantidad" type="number" pInputText formControlName="cantidad" />
                </div>
                <div class="p-field">
                    <label for="precio">Precio</label>
                    <input id="precio" type="number" pInputText formControlName="precio" />
                </div>
                <div class="p-field">
                    <label for="descuento">Descuento</label>
                    <input id="descuento" type="number" pInputText formControlName="descuento" />
                </div>
                <div class="p-field">
                    <label for="iva">IVA</label>
                    <input id="iva" type="number" pInputText formControlName="iva" readonly />
                </div>
                <br>
                <div class="p-d-flex p-jc-end">
                    <button pButton label="Agregar" icon="pi pi-check" class="p-button-sm p-button-success"
                        (click)="confirmarAgregarProducto()" type="button">
                    </button>
                </div>
            </form>
        </p-dialog>
    </div>
</div>
<p-toast></p-toast>