<p-table [value]="facturas" [paginator]="true" [rows]="10" [responsiveLayout]="'scroll'" [resizableColumns]="true" class="p-datatable-sm">
  <ng-template pTemplate="header">
    <tr>
      <th pResizableColumn>N° Factura</th>
      <th pResizableColumn>Proveedor</th>
      <th pResizableColumn>Fecha</th>
      <th pResizableColumn>Valor</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-compra>
    <tr>
      <td>{{ compra.numFactura }}</td>
      <td>{{ compra.persona }}</td>
      <td>{{ compra.fecha | date: 'shortDate' }}</td>
      <td>{{ compra.valor | currency:'USD':'symbol':'1.0-2' }}</td>
    </tr>
  </ng-template>

  <ng-template pTemplate="footer">
    <tr>
      <td colspan="3" style="text-align:right; font-weight:bold;">Total Compras:</td>
      <td style="font-weight:bold;">{{ totalCompras | currency:'USD':'symbol':'1.0-2' }}</td>
    </tr>
  </ng-template>
</p-table>
